# Load Data

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path

In [9]:
def main(repo_path):
    data_path = repo_path / "data"
    train_path = data_path / "raw"
    train_files, train_labels = get_files_and_labels(train_path)
    test_files, test_labels = get_files_and_labels(test_path)
    prepared = data_path / "prepared"
    save_as_csv(train_files, train_labels, prepared / "train.csv")
    save_as_csv(test_files, test_labels, prepared / "test.csv")

if __name__ == "__main__":
    repo_path = Path("__file__").parent.parent
    print(repo_path)
    #main(repo_path)

.

In [13]:
##df_env = pd.read_csv('file:///C:/Users/prosk/Downloads/npydata.csv', index_col=0)

In [79]:
# Convert binary data into Land Climate and remove binary data
##df_env['Land Climate'] = df_env.iloc[:, 2:39].idxmax(1)
##df_env.drop(df_env.iloc[:, 2:39], axis=1)

,lat_latlon,lon_latlon,elevation,WorldClim_prec_m06,WorldClim_srad_m06,WorldClim_tavg_m06,WorldClim_tmax_m06,WorldClim_tmin_m06,WorldClim_vapr_m06,WorldClim_wind_m06,...,BioClim_11,BioClim_12,BioClim_13,BioClim_14,BioClim_15,BioClim_16,BioClim_17,BioClim_18,BioClim_19,Land Climate
0,33.000000,-25.000000,-5221.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
1,33.000000,-24.833333,-5332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
2,33.000000,-24.666667,-5442.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
3,33.000000,-24.500000,-5436.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
4,33.000000,-24.333333,-5434.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95467,71.833333,42.166667,-288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
95468,71.833333,42.333333,-289.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
95469,71.833333,42.500000,-290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
95470,71.833333,42.666667,-287.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies
95471,71.833333,42.833333,-279.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Water bodies

In [80]:
# Save as CSV
##df_env.to_csv('env_fixed.csv')